@tailwind base;
@tailwind components;
@tailwind utilities;

/* fontawesome.css */
@import "@fortawesome/fontawesome-svg-core/styles.css";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

/* Hide the scrollbar track */
body::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Hide the scrollbar thumb */
body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Hide the scrollbar corner */
body::-webkit-scrollbar-corner {
  background-color: transparent;
}

.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.content {
  font-size: 2rem;
}

.ReactModal__Content {
  width: 50%;
  height: 70%;
  margin: auto;
}

.shadow-element {
  box-shadow: 10px 10px 20px #808080, -10px -10px 20px #ffffff;
}
